@model MPB_Entities.FCM.FCMVessel_EditMain
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>船隻資料管理</title>
    <!-- 3rd part css -->
    <link href="~/Content/Styles/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- 3rd part js -->
    <script src="~/Scripts/jquery.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui-1.12.1/jquery-ui.js" type="text/javascript"></script>
    <link href="~/Scripts/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet" type="text/css" />   
    <script src="~/Scripts/jquery.vs.func.js" type="text/javascript"></script>
    <!-- main style -->
    <link href="~/Content/Styles/style.css" rel="stylesheet" />
    <!-- Chosen Plugin  -->
    <link href="~/Scripts/chosen-1.8.7/chosen.css?2019062411:46:43" rel="stylesheet" />
    <script src="~/Scripts/chosen-1.8.7/chosen.jquery.js?2019062411:46:43"></script>
    <script src="~/Scripts/chosen-1.8.7/chosen.proto.js?2019062411:46:43"></script>
    <!-- handsontable Plugin  -->
    <link href="~/Content/hot/handsontable.full.css" rel="stylesheet" />
    <link href="~/Content/hot/handsontable.full.custom.css" rel="stylesheet" />
    <script src="~/Scripts/hot/handsontable.full.js?2019062411:46:43"></script>
    <script src="~/Scripts/jquery.vs.handsontable.js?2019062411:46:43"></script>    
    <!-- workcode  -->
    <script src="~/Scripts/workcode/FCM/FCMVessel_Edit.js?2020030311:46:43"></script>
    <script>
        var isEditMode      =@ViewBag.isEditMode;
        var isViewMode      =@ViewBag.isViewMode;
        var isDeleteMode    =@ViewBag.isDeleteMode;
        var mode    ='@ViewBag.mode';
        const tokenVal = '@RequestVerificationTokenHelper.TokenValue()';
        @Html.Raw((ViewBag.JsScript))
    </script>
</head>
<body style="height:100%">
    @{ Html.BeginForm(); }
    @Html.AntiForgeryToken()
    <input type="hidden" id="mode" value="@ViewBag.mode" />
    <input type="hidden" id="currentUrl" value="@ViewBag.currentUrl" />
    <input type="hidden" id="mod_key">
    <input type="hidden" id="C_ID" value="@Model.C_ID">
    <input type="hidden" id="V_ID" value="@Model.V_ID">
    <input type="hidden" id="chk_Value">

    <h1 class="pageTitle">船隻資料管理 - @ViewBag.titleStr</h1>
    <div class="sub-content">
        <div class="row">
            @if (MPB.isAdmin())
            {
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="form-group">
                        <label id="Label3" class="control-label">航商名稱</label>
                        <select class="chosen-select vs_formValidate({NE:1})   " data-placeholder="請選擇..." id="C_ID_Selector" name="C_ID_Selector" title="航商名稱">
                            @Html.Raw(ViewBag.CompanyHtml)
                        </select>
                    </div>
                </div>
            }
            else
            {
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="form-group">
                        <label id="Label3" class="control-label">航商名稱</label>
                        @Html.TextBox("C_NAME", @Model.C_NAME, new { @class = "vs_initialForm({D:1}) vs_formValidate({NE:1}) form-control", title = "航商名稱" })
                    </div>
                </div>
            }
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label id="Label3" class="control-label">*船舶號數</label>
                    @Html.TextBox("V_CODE", @Model.V_CODE, new { @class = "vs_initialForm({M:10}) vs_formValidate({NE:1}) form-control", title = "船舶號數", autocomplete = "off" })
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label id="Label3" class="control-label">*船名</label>
                    @Html.TextBox("V_NAME", @Model.V_NAME, new { @class = "vs_initialForm({M:20}) vs_formValidate({NE:1}) form-control", title = "船名", autocomplete = "off" })
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label id="Label3" class="control-label">船名_英文</label>
                    @Html.TextBox("V_NAME_EN", @Model.V_NAME_EN, new { @class = "vs_initialForm({M:100}) vs_formValidate({NE:1}) form-control", title = "船名_英文", autocomplete = "off" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label id="Label3" class="control-label">*乘客限額</label>
                    @Html.TextBox("MAXIMUM", @Model.MAXIMUM, new { @class = "vs_initialForm({M:10, N:1}) vs_formValidate({NE:1, DP:1}) form-control", title = "乘客限額", autocomplete = "off" })
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label id="Label3" class="control-label">*所屬公司名稱</label>
                    @Html.TextBox("BelongCompany", @Model.BelongCompany, new { @class = "vs_initialForm({M:20}) vs_formValidate({NE:1}) form-control", title = "所屬公司名稱", autocomplete = "off" })
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label id="Label3" class="control-label">*所屬公司統編</label>
                    @Html.TextBox("BelongTAX_ID", @Model.BelongTAX_ID, new { @class = "vs_initialForm({M:8}) vs_formValidate({NE:1}) form-control", title = "所屬公司統編", autocomplete = "off" })
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label id="Label3" class="control-label">*狀態</label>
                    <select class="chosen-select vs_formValidate({NE:1})   " data-placeholder="請選擇..." id="V_STATUS" name="V_STATUS" title="狀態">
                        @Html.Raw(ViewBag.StatusHtml)
                    </select>
                </div>
            </div>
        </div>
        <div class="row" style="display:none">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label id="Label3" class="control-label">AIS船舶編號</label>
                    @Html.TextBox("MMSI", @Model.MMSI, new { @class = "vs_initialForm({M:8}) form-control", title = "AIS船舶編號", autocomplete = "off" })
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label id="Label3" class="control-label">國際船舶編號</label>
                    @Html.TextBox("IMO", @Model.IMO, new { @class = "vs_initialForm({M:8}) form-control", title = "國際船舶編號", autocomplete = "off" })
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label id="Label3" class="control-label">船呼</label>
                    @Html.TextBox("CallSign", @Model.CallSign, new { @class = "vs_initialForm({M:8}) form-control", title = "船呼", autocomplete = "off" })
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label id="Label3" class="control-label">船舶種類</label>
                    <select class="chosen-select" data-placeholder="請選擇..." id="VesselType" name="VesselType" title="船舶種類">
                        @Html.Raw(ViewBag.VesselTypeHtml)
                    </select>
                </div>
            </div>
        </div>
        <div class="row" style="display:none">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label id="Label3" class="control-label">船舶總噸位</label>
                    @Html.TextBox("GrossTonnage", @Model.GrossTonnage, new { @class = "vs_initialForm({M:8}) form-control", title = "船舶總噸位", autocomplete = "off" })
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label id="Label3" class="control-label">船長(公尺)</label>
                    @Html.TextBox("VesselLength", @Model.VesselLength, new { @class = "vs_initialForm({M:8}) form-control", title = "船長(公尺)", autocomplete = "off" })
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label id="Label3" class="control-label">船寬(公尺)</label>
                    @Html.TextBox("VesselWidth", @Model.VesselWidth, new { @class = "vs_initialForm({M:8}) form-control", title = "船寬(公尺)", autocomplete = "off" })
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label id="Label3" class="control-label">吃水深度(公尺)</label>
                    @Html.TextBox("LoadDraft", @Model.LoadDraft, new { @class = "vs_initialForm({M:8}) form-control", title = "吃水深度(公尺)", autocomplete = "off" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label id="Label3" class="control-label">備註</label>
                    @Html.TextBox("Memo", @Model.Memo, new { @class = "vs_initialForm({M:8}) form-control", title = "備註", autocomplete = "off" })
                </div>
            </div>

            @if (MPB.isAdmin())
            {
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="form-group">
                        <label id="Label3" class="control-label">*船名</label>
                        @Html.TextBox("API_NAME", @Model.API_NAME, new { @class = "vs_initialForm({M:20}) vs_formValidate({}) form-control", title = "船名", autocomplete = "off" })
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <label id="Label3" class="control-label">*為必填欄位</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    @Html.DisplayName("CreateDt")@Model.CreateDt　@Html.DisplayName("CreateId")@Model.CreateId　　@Html.DisplayName("ModifyDt")@Model.ModifyDt　@Html.DisplayName("ModifyId")@Model.ModifyId
                </div>
            </div>
        </div>
        <div class="row">
            <hr />
            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
                <div class="form-group">
                    <input type="button" id="btnBack" class="btn btn-default btn-lg" value="取　消">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
                <div class="form-group">
                    <input type="button" id="btnConfirm" class="btn btn-confirm btn-lg" value="存　檔">
                </div>
            </div>
        </div>
    </div> <!-- end sub-content -->
    @{Html.EndForm(); }
</body>
</html>